table,td,tr,th{
    border: 2px solid black;
    border-collapse: collapse;
    
}
td,tr,th{
    min-width: 200px;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > div{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    padding-bottom: 10px;
}